<?xml version='1.0' encoding='utf-8'?>

<widget 
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id="com.phonegap.bhagatpavbhajiwala" 
    versionCode = "0.1" 
    version="0.1">
    
    <name>Bhagat Pavbhajiwala</name>
    
    <description>
        Pav bhaji is more than a mere snack! it’s a quick meal that can be grabbed on the go – since large potions of the bhaji are made in advance and simply reheated with a few spices before serving.
    </description>
    
    <author email="info@bhagatpavbhajiwala.com" href="http://www.bhagatpavbhajiwala.com/">
        Bhagat Pavbhajiwala
    </author>
    
    <content src="index.html" />
    <gap:plugin name="cordova-plugin-whitelist" version="1" source="npm" />
    <gap:plugin name="pushwoosh-pgb-plugin" source="npm" />

    <access origin="*" />
    <access origin="*.pushwoosh.com"/>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    
    <gap:platform name="android" />
    <gap:platform name="ios" />
    <preference name="phonegap-version" value="cli-5.2.0" />
    <preference name="android-minSdkVersion" value="7" />   
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="android-build-tool" value="gradle" />
    
    <icon src="icon.png" />
    <icon src="res/icon/android/icon-36-ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png" gap:platform="android" gap:density="xhdpi" />
        
    <icon src="res/icon/ios/icon-57.png" gap:platform="ios" width="57" height="57" />
    <icon src="res/icon/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="res/icon/ios/icon-57-2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="res/icon/ios/icon-72-2x.png" gap:platform="ios" width="144" height="144" />
    <icon src="res/icon/ios/icon-60-2x.png" gap:platform="ios" width="120" height="120" />
    <icon src="res/icon/ios/icon-76-2x.png" gap:platform="ios" width="152" height="152" />
    <icon src="res/icon/ios/icon-76.png" gap:platform="ios" width="76" height="76" />
    <!-- Define app splash screen. -->
    <gap:splash src="splash.png" />
    <!-- default 320x480 pixels -->
    <gap:splash src="res/screen/ios/screen-iphone-portrait.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png" gap:platform="ios" width="640" height="960" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="res/screen/ios/screen-ipad-portrait.png" gap:platform="ios" width="768" height="1024" />
    <gap:splash src="res/screen/ios/screen-ipad-landscape.png" gap:platform="ios" width="1024" height="768" />
</widget>
